# Opteryx Welcome

In this notebook we're going to execute simple SQL queries using Opteryx against a sample dataset.

To do this, first of all we're going to import the Opteryx library and define some helper methods, one to wrap running the queries, and two to help with rendering the results nicely in Notebooks.

In [39]:
try:
    import opteryx
except ImportError:
    print('opteryx was not able to be imported, please install opteryx by running `pip install opteryx` and restart this notebook before trying again.')

In [40]:
# a helper method to execute a SQL statement and return the results
def execute_sql(statement):
    conn = opteryx.connect(reader=None, partition_scheme=None)
    cursor = conn.cursor()
    cursor.execute(statement)

    return cursor.fetchmany(5)

# a helper method to render results to a HTML table
def results_to_html_table(results):
    from opteryx.engine.display import html_table
    return html_table(results)

# a helper method to render HTML in a notebook
def render_html(html):
    from IPython.display import HTML, display
    display(HTML(html))

For our first query, we're going to do a simple SELECT * against one of the built-in datasets.

This will return all of the records in the dataset, however, the rendering to a HTML table limits to 5 records.

In [41]:
SQL = "SELECT * FROM $satellites"

results = execute_sql(SQL)
html_table_of_results = results_to_html_table(results)

render_html(html_table_of_results)

Next, we're going to filter to just the satellites of Saturn by using a WHERE clause.

In [34]:
SQL = "SELECT * FROM $satellites WHERE planetId = 6"

results = execute_sql(SQL)
html_table_of_results = results_to_html_table(results)

render_html(html_table_of_results)

In [ ]:
Finally, for this demo, we're going to count the number of satellites for each planet.

In [36]:
SQL = "SELECT planetId, COUNT(*) FROM $satellites GROUP BY planetId"

results = execute_sql(SQL)
html_table_of_results = results_to_html_table(results)

render_html(html_table_of_results)

['planetId', {'aggregate': 'COUNT', 'args': [('Wildcard', <TOKEN_TYPES.WILDCARD: 'WILDCARD'>)], 'alias': None}]